body{
	background: C9DAF8;
	background-image: -webkit-linear-gradient(top left, #F7F7F7 0%, #C9DAF8 30%);
	background-image: -moz-linear-gradient(top left, #F7F7F7 0%, #C9DAF8 30%);
	background-image: -ms-linear-gradient(top left, #F7F7F7 0%, #C9DAF8 30%);
	background-repeat: no-repeat;
}

a {
    font: normal 14px arial, sans-serif;
}

a:link{
	color:	#003300;
    text-decoration: none;
}
a:visited {
	color:	#003300;
    text-decoration: none;
}
a:hover {
	color: #003300; /* TODO: get better color here */
    text-decoration: underline;
}

/* Button stuff */
.menu-header {
	overflow:	hidden;
	width:		100%;
}

a.menu-item {
    background: transparent url('button_a.gif') no-repeat scroll top right;
    color: #000;
    display: block;
    float: left;
    font: normal 12px arial, sans-serif;
    height: 24px;
    margin-right: 6px;
    padding-right: 18px; /* sliding doors padding */
    text-decoration: none;
}

a.menu-item span {
    background: transparent url('button_span.gif') no-repeat;
    display: block;
    line-height: 14px;
    padding: 5px 0 5px 18px;
}

a.menu-item:hover {
    text-decoration:	underline;
	outline: none; /* hide dotted outline in Firefox */
}

a.menu-item:active {
    background-position: bottom right;
    text-decoration:	underline;
    outline: none; /* hide dotted outline in Firefox */
}

a.menu-item:active span {
    background-position: bottom left;
    padding: 6px 0 4px 18px; /* push text down 1px */
}
/* End of Button Stuff */
