body{
	background: C9DAF8;
	background-image: -webkit-linear-gradient(top left, #F7F7F7 0%, #C9DAF8 30%);
	background-image: -moz-linear-gradient(top left, #F7F7F7 0%, #C9DAF8 30%);
	background-image: -ms-linear-gradient(top left, #F7F7F7 0%, #C9DAF8 30%);
	background-repeat: no-repeat;
}

a:link{ 
	color:003300;
}
a:visited {
	color:008800;
}

#navigation ul {
	line-height:	1.0;
	list-style-type: none;
}

#navigation ul li:hover {
	visibility:		inherit; /* fixes IE7 'sticky bug' */
}
#navigation ul li {
	float:			left;
	position:		relative;
	padding: 0 10px 0 10px;
}
#navigation ul a {
	display:		block;
	position:		relative;
	padding: 5px 5px 5px 5px !important;
	background:#ccc;
	background: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.5, rgb(204,204,204)),
		color-stop(1, rgb(204,204,204))
	);
	background: -moz-linear-gradient(
		center bottom,
		rgb(204,204,204) 50%,
		rgb(204,204,204) 100%
	);
	-moz-border-radius: 8px;
	-khtml-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	z-index:4;

}


